{{!< default}}

<main class="site-main">

    {{! tocbot: Table of Content will be inserted here }}
    <aside class="gh-sidebar"><div class="gh-toc"></div></aside>

    {{#post}}
        {{> "content" width="wide"}}
    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

    {{#post}}
        {{> "comments"}}
    {{/post}}

</main>
